* {
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: #8ea6cc;
}

.large-header {
    font-family: 'Phudu', cursive;
    font-size: 150px;
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

.max-width-200 {
    max-width: 200px
}

.comic-sans {
    font-family: 'Comic Sans MS', cursive;
}

.no-underline a{
    text-decoration: none;
}

.green a{
    color: #379a00
}

button a:hover{
    color: #8ea6cc;
}

button span:hover {
    color: #8ea6cc;
    cursor: pointer;
}

button {
    background-color: #3b6442;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    display: inline-block;
    margin: 2px;
    font-size: 16px;
    color: white;
}

#begin-learning-button {
    height: 85px;
    width: 380px;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Phudu', cursive;
    transition: height 200ms, width 200ms, margin-top 200ms, font-size 200ms;
}

#begin-learning-button:hover {
    height: 106px;
    width: 475px;
    margin-top: 90px;
    font-size: 60px;
    cursor: pointer;
}

button a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

footer button a {
    font-size: 13px;
}